name: mpw_precheck

on:
  workflow_dispatch:
  workflow_run:
    workflows: ['gds']
    types: [completed]

jobs:
  waferspace_precheck:
    env:
      PDK_ROOT: ${{ github.workspace }}/gf180mcu-precheck/gf180mcu
      PDK: gf180mcuD

    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Nix and configure FOSSi cache
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            extra-substituters = https://nix-cache.fossi-foundation.org
            extra-trusted-public-keys = nix-cache.fossi-foundation.org:3+K59iFwXqKsL7BNu6Guy0v+uTlwsxYQxjspXzqLYQs=

      - name: Checkout gf180mcu-precheck Repo
        uses: actions/checkout@v4
        with:
          repository: wafer-space/gf180mcu-precheck
          path: gf180mcu-precheck

      - name: Install GF180MCU PDK
        working-directory: gf180mcu-precheck
        run: make clone-pdk
        
      - name: Download artifact (run id = ${{ github.event.workflow_run.id }})
        uses: dawidd6/action-download-artifact@v6
        id: download_artifact
        with:
          workflow: gds.yaml
          run_id: ${{ github.event.workflow_run.id }}
          workflow_conclusion: success
          name: foundry_submission
          path: tinytapeout-submission

      - name: Run precheck (run id = ${{ fromJSON(steps.download_artifact.outputs.artifacts)[0].workflow_run.id }})
        working-directory: gf180mcu-precheck
        run: |
          nix-shell . --run "python3 precheck.py --input ../tinytapeout-submission/gds/tt_gf_wrapper.gds --top tt_gf_wrapper"
